# Exercice: Modélisation orientée requête (Cassandra)

<table><tr>
    <td><img src="image/esi-sba.png" width="100" height="100"></td>
    <td><img src="image/cassandra.png" width="100" height="100"></td>
    </tr></table>

### Dans ce notebook, nous allons travailler sur la modélisation orientée requête sous la BDD No-SQL Cassandra, en particulier nous traitons les points suivants :

* Dénormaliser une BDD relationnelle en partant du principe 1 table per query 
* Définir la partie Primary Key pour chaque requête
* Optimiser vos modèles en choisissant la bonne Partition Key & Clustering Column
* Valider vos modèles 
* Tester quelques requêtes particulières

#### installer cassandra-driver afin de se connecter au cluster cassandra
! pip install cassandra-driver
#### More documentation can be found here:  https://datastax.github.io/python-driver/

#### Import Apache Cassandra python package

In [ ]:
import cassandra

### créer une connection au cluster cassandra

In [ ]:
from cassandra.cluster import Cluster

try: 
    cluster = Cluster(['127.0.0.1']) # si cassandra est installé localement avec le port par défaut 9042
    session = cluster.connect()
except Exception as e:
    print(e)

### créer maintenant un keyspace nommé "cart_esi"

In [ ]:
try:
    
  ### add code here 
  

except Exception as e:
    print(e)

### connecter à votre Keyspace  cart_esi

In [ ]:
try:
    
    ### add code here 
    
    
except Exception as e:
    print(e)

### Supposons qu'on a une plateforme e-commerce dont le   modèle RELATIONNEL est décrit comme suit:

<table><tr>
    <td><img src="image/E-R_model.png" width="500" height="500"></td>
      </tr></table>

### imaginons  que nous souhaitons analyser ces données à  travers 4 requêtes analytiques:
* `Query1= retourner les informations d’un panier (cart_id, state) de chaque utilisateur (user_id). Afficher également l’email de l’utilisateur.`

* `Query2= retourner pour chaque utilisateur toutes les informations de ses paniers ainsi que leurs contenus (les items ajoutés avec leurs quantités). Ordonner le résultat par state(asc) et date de création(asc).`

*  `Query3= retourner pour chaque panier sa date de création, son total et les sous-totaux par item.`

#### Créer les trois tables qui correspondent aux requêtes précédentes, en indiquant pour chacune:
* Primary Key
* Partition Key
* Clustering Column

In [ ]:
try:
    
    ### Create the table that corresponds to the Query1
    query1 = "***************** "
    
    session.execute(query1)
except Exception as e:
        print(e)

In [ ]:
try:
    
    ### Create the table that corresponds to the Query2
    query2 = "*************** "
    
    session.execute(query2)
except Exception as e:
        print(e)

In [ ]:
try:
    
    ### Create the table that corresponds to the Query3
    query3= "********************"
   
    session.execute(query3)
except Exception as e:
        print(e)

### Une fois vous créez les différentes tables, essayez de les peupler.
#### * deux utilisateurs
####  * cinq paniers, trois pour le premier User et deux pour le deuxième
####  * entre 1 et 3 items par panier

### Insertion des données dans Table1

In [ ]:
query = "INSERT INTO ****************** "
query = query + " VALUES (%s,***************)"

try:
    session.execute(query, ("**********""))
    
except Exception as e:
        print(e)

### Insertion des données dans Table2

In [ ]:
query = "INSERT INTO ****************** "
query = query + " VALUES (%s,***************)"

try:
    session.execute(query, ("**********""))
    
except Exception as e:
        print(e)

### Insertion des données dans Table3

In [ ]:
query = "INSERT INTO ****************** "
query = query + " VALUES (%s,***************)"

try:
    session.execute(query, ("**********""))
    
except Exception as e:
        print(e)

### Valider votre modèle en exécutant les requêtes suivantes

* Retourner les paniers de l'utilisateur N°1"

* Retourner le contenu des paniers "saved" de l'utilisateur N°1

* retourner le total et les soustotaux du panier N°3

In [ ]:
# query1: Retourner les paniers de l'utilisateur N°1
query = "********************************"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

In [ ]:
# query2: Retourner le contenu des paniers "saved" de l'utilisateur N°1
query = "********************************"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

In [ ]:
# query3:  retourner le total et les soustotaux du panier N°3
query = "********************************"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

### Essayons d'autres requêtes 

* `Retourner le contenu des paniers créés  aprés le 01-12-2024 par l'utilisateur N°1`

In [ ]:
# query4
query = "********************************"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

### Proposer une solution pour optimiser cette requête

In [ ]:
### make your solution 
## table creation
### Create the table that corresponds to the Query4
query2 = "*******************"

   
session.execute(query2) 

## insert data
query = "INSERT INTO ************"
query = query + " VALUES (%s,********************)"

try:
    session.execute(query, ("*********************"))
   
  
except Exception as e :
        print(e)

In [ ]:
# query4
query = "*****************************************"



try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

###  drop  tables.

### close the session and cluster connection

In [ ]:
session.shutdown()
cluster.shutdown()